.card-title{
    text-align: center;
}
.container{
    overflow-x: hidden;
    overflow-y: hidden;
   
}
.form-control{
    width: 47%;
    margin-left: 172px;
    position: relative;
    top: -31px;
}
.card{
    width: 417px;
    /* background-image: linear-gradient(rgb(15, 15, 15),rgb(19, 18, 18)); */
    border-radius: 35px;
}
.row{
    margin-left: 225px;
    margin-top: 95px
}
.col-md-8{
    margin-left: 510px;
    margin-top: -504px;
}
.pto{
    height: 80px;
    width: 85px;
    border-radius: 35px;
    margin-left: 147px;
    margin-top: 78px;
    position: relative;
    top: -78px;
}
